@font-face 
{
    font-family: 'montserrat-medium';
    src: local('montserrat-medium'), url(../Resources/fonts/Montserrat-Medium.ttf) format('truetype');
}

.Container
{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows:50px auto;
    height:100vh;
    background-image: linear-gradient( 130deg, rgba(94, 252, 232, .1) 0%, rgba(255,255,255,.1) 100%),url("../Resources/Images/chartillustration.svg");
    background-position:right bottom;
    background-repeat:no-repeat;
    background-attachment: fixed;
    font-family:'montserrat-medium';
}


.navbarcontainer
{
    grid-column: auto/span 12;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color:white;
    padding: 10px;
    background-color:#fff;
    -webkit-box-shadow: -1px 27px 26px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 27px 26px -20px rgba(0,0,0,0.75);
    box-shadow: -1px 27px 26px -20px rgba(0,0,0,0.75);
}


.logocol a
{
    text-decoration: none!important;
    list-style:none;  
    color:black;
    outline:none;
}

.navlist {    
    grid-column: 10 / span 1;
}
    

.navlist ul
{
    display: flex;
    flex-direction: row;
    margin:0 auto; /*clears bottom-margin UL items*/
}

.navlist ul li
{
    text-decoration: none;
    margin-right:10px;
}

.navlist a
{
    font-size:14px;
    text-transform: uppercase;
    border-bottom:2px solid #5EFCE8;
    color:black;
    padding:5px 10px;
    text-decoration:none!important;
    border-radius:20px;
    outline:none;
}


.contentcontainer{
    grid-column: auto /span 12;
    display: grid;
    
} 


/*Responsive*/
@media(max-height:600px){
    .heading{
        font-size: 30px;
    }
   
}
@media(max-width:767px){
    .navlist{
        display:none;
    }
   
}